<%- include(`partials/header.ejs`, { user }) %>
<main>
</main>
<p>Search for a movie below...</p>
<form method="GET" action="/movies">
    <label for="movie-imput">Search</label>
    <input type="text" id="movie-input" placeholder="Search a Movie" name="title" />
    
    <button type="submit">Search</button>

</form>
<%- include(`partials/footer.ejs`) %>
