<%- include('../partials/header.ejs', {user}) %>
<h3>sign up for an account</h3>
<form action="/users" method="POST">
    <label for="email">EMAIL</label>
    <input type="email" name="email" id="email"/>

    <label for="password">password</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">sign up</button>
</form>

<%- include('../partials/footer.ejs') %>